body {
	box-sizing: border-box;
	margin: 0;
}

body *,
body *::after,
body *::before {
	box-sizing: inherit;
}

.App {
	padding: 1rem;
	padding-top: 0;
	max-width: 1300px;
	max-height: 100dvh;
	width: 100dvw;
	height: 100dvh;
	margin: 0 auto;
	text-align: center;
	overflow-y: hidden;
	display: flex;
	flex-direction: column;
}

.app-header {
	padding-block: 1rem;
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
}

.app-header button {
	position: absolute;
	right: 1rem;
}

.board-wrapper {
	display: grid;
	width: 100%;
	height: 100%;
	max-height: 100%;
	gap: 5px;

	grid-template-areas:
		"player1cards player1cards player1cards"
		"leftNext board rightNext"
		"player2cards player2cards player2cards";

	grid-template-columns: 200px 1fr 200px;
	grid-template-rows: 150px 1fr 150px;
}

@media (max-width: 1000px) {
	.board-wrapper {

		grid-template-columns: 150px 1fr 150px;
	}
}

@media (max-width: 800px) {
	.board-wrapper {
		grid-template-columns: 100px 1fr 100px;
		grid-template-rows: auto 1fr auto;
		grid-template-areas:
			"leftNext player1cards player1cards"
			"board board board"
			"player2cards player2cards rightNext";
	}
}

.board {
	grid-area: board;
	align-self: center;
	display: grid;
	grid-template-columns: repeat(5, minmax(0, 1fr));
	grid-template-rows: repeat(5, minmax(0, 1fr));
	width: 100%;
	max-width: 600px;
	margin-inline: auto;
	justify-content: space-between;
	background-color: #eaece1;
	padding: 10px;
	border-radius: 3.5px;
	gap: 10px;
	height: 55dvh;
	max-height: 600px;
	aspect-ratio: 1;
}

@media (max-width: 800px) {
	.board {
		max-width: 100%;
		height: auto;
	}
}

.board> :where(div) {
	color: black;
	width: 100%;
	align-self: center;
	margin-inline: auto;
	height: 100%;
	border: 5px solid transparent;
	display: grid;
	place-content: center;
	border-radius: 3px;
	background: #d1d4c1;
	aspect-ratio: 1;
}


.next-card {
	max-width:175px;
	width:100%;
	height:100%;
	container: card-container / size;
	display:flex;
	flex-direction:column;
}

.left-next {
	grid-area: leftNext;
	margin-left:auto;
}

.right-next {
	grid-area: rightNext;
	justify-content:flex-end;
	margin-right:auto;
}

.next-card .card {
	width: 100%;
}

.selected-card {
	border: 5px solid #884e83;
}

.selected-unit {
	border: 5px solid #6da3a0;
}

.selected-pos {
	border: 5px solid #884e83;
	position: relative;
	overflow: visible;
}

.move-hint {
	background: #bca18e;
}

.confirm-button {
	background-color: #884e83;
	position: absolute;
	top: 0;
	left: 0;
}

.tile__confirm-button {
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


.player-cards {
	width: 100%;
	margin-inline: auto;
	display: flex;
	justify-content: center;
	gap: 10px;
	@media(max-width:800px){
		flex-wrap:wrap;
		justify-content:end;
		&.player-2{
			justify-content:start;
		}
	}
}

.player-cards.player-1 {
	grid-area: player1cards;
}

.player-cards.player-2 {
	grid-area: player2cards;
}


.card {
	max-height: 100%;
	height: 150px;
	position: relative;
	background: #eaece1;
	width: auto;
	color: olive;
	display: flex;
	align-items: center;
	gap: 5px;
	border-radius: 4px;
	padding: 0.5em;
	justify-content: space-between;
	aspect-ratio: 5/3;
}

@media (max-width: 800px) {
	.card {
		height: 70px;
	}

	.card h3 {
		font-size: 0.5rem;
	}

	.next-card {
		flex-direction:row;
		.next-card-label {
			writing-mode: vertical-rl;
			margin-block:0;
		}
		&.right-next {
			justify-content:unset;
			flex-direction:row-reverse
		}
	}

	.card {
		justify-content: center;
	}

}

.card h3 {
	margin: 0;
	writing-mode: vertical-lr;
	transform: rotate(360deg);
}

@container card-container (orientation: portrait) {
	.card {
		flex-direction: column;
		height: unset;
		aspect-ratio: unset;
		
		h3 {
			writing-mode: unset;
		}
		.card-grid {
			width:100%;
		}
	}
}

.card-grid {
	pointer-events: none;
	max-height: 100%;
	width: fit-content;
	aspect-ratio: 1;
	position: relative;
	display: grid;
	gap: 1px;
	width: 75%;
	grid-template-columns: repeat(5, minmax(1px, 1fr));
	grid-template-rows: repeat(5, minmax(1px, 1fr));
}

.unit-image {
	width: 100%;
}

.type-captain,
.type-pawn {
	display: grid;
	place-items: center;
}

.type-pawn .unit-image {
	width: 50%;
}

.move-position {
	width: 100%;
	height: 100%;
	background: #d1d4c1;
	/* border:1px solid #24261E; */
	/* aspect-ratio:1; */
}

.move-position.me {
	background: #24261e;
}

.move-position.possible-move {
	background: #bca18e;
}

body:has(.help) .App {
	opacity: 0.25;
}

.help {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 99;
	transform: translateX(-50%) translateY(-50%);
	background: white;
	color: #24261e;
	padding: 1rem;
	overflow: hidden;
	border-radius: 10px;
}

.slide {
	width: 100%;
	height: 500px;
	overflow: auto;
}

.slide h3 {
	margin-top: 0;
}

.slide .image {
	text-align: center;
}

.slide .image p {
	text-align: center;
}

.slide img {
	max-width: 100%;
	border-radius: 8px;
}

.Help__button-row {
	display: flex;
	justify-content: center;
	gap: 10px;
	padding: 0.5rem;
}

.Help__button-row button {
	width: 150px;
}

.flex-row {
	display: flex;
	justify-content: space-between;
	gap: 10px;
}

.help h2 {
	margin-top: 0.75rem;
}

.help .close {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-weight: bold;
}
