.waitingRoom {
	max-width: 600px;
	margin-inline: auto;
	text-align: center;
	padding: 20px;
	padding-top: 25vh;
}

.waitingRoom h1 {
	font-size: 45px;
}

.wiatingRoom p {
	font-weight: bold;
	margin-top: 40px;
}
