.tile {
	position: relative;
}
.tile svg {
	width: 100%;
	pointer-events: none;
}
.tile.typepawn svg{
	width:70%;
}
.tile.selectedUnit :is(.arms, .sword){
	animation: arm-selected-animation .5s linear infinite alternate;
}
@keyframes arm-selected-animation {
	to {
		transform: translateY(-5px)
	}
}
.tile.selectedUnit .head{
	animation: head-selected-animation .5s linear infinite alternate;
}
@keyframes head-selected-animation {
	to {
		transform: translateY(5px)
	}
}
.selectedUnit {
	border: 5px solid #6da3a0;
}

.typecaptain,
.typepawn {
	display: grid;
	place-items: center;
}

.selectedPos {
	border: 5px solid #884e83;
	position: relative;
	overflow: visible;
}

.moveHint {
	background: #bca18e;
}

.unitimage {
	width: 100%;
}


.typepawn .unitimage {
	width: 50%;
}

.confirmButton {
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
