.tile {
	position: relative;
	
}
.tile svg {
	width: 100%;
	pointer-events: none;
}
.tile.typepawn svg{
	width:70%;
}
.tile.selectedUnit :is(.arms, .sword){
	animation: arm-selected-animation .5s linear infinite alternate;
}
@keyframes arm-selected-animation {
	to {
		transform: translateY(-5px)
	}
}
.tile.selectedUnit .head{
	animation: head-selected-animation .5s linear infinite alternate;
}
@keyframes head-selected-animation {
	to {
		transform: translateY(5px)
	}
}

.typecaptain,
.typepawn {
	display: grid;
	place-items: center;
}


.moveHint {
	--tile-bg:var(--tan--base);
}

.selectedUnit {
	border: 5px solid var(--green--base);
	--tile-bg: hsl(from var(--green--base) h s l / 40%);
}
.selectedPos {
	border: 5px solid hsl( from var(--accent--base) h s l / 70%);
	--tile-bg: hsl( from var(--accent--base) h s l / 40%);
	position: relative;
	overflow: visible;
}

.unitimage {
	width: 100%;
}


.typepawn .unitimage {
	width: 50%;
}

.confirmButton {
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
