.selectedUnit {
	border: 5px solid #6da3a0;
}

.typecaptain,
.typepawn {
	display: grid;
	place-items: center;
}

.selectedPos {
	border: 5px solid #884e83;
	position: relative;
	overflow: visible;
}

.moveHint {
	background: #bca18e;
}

.unitimage {
	width: 100%;
}
.typepawn .unitimage {
	width: 50%;
}

.confirmButton {
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
